li {
  text-decoration: underline;
}
@media only screen
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    body {
      height: 100vh;
      background-image: url("/tor-downsized.gif");
      background-color: #ffffff;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 100%;
    }
    h1 {
      background-color: white;
      font-size: 3em;
      font-family: sans-serif;
    }
}
@media only screen
  and (min-device-width: 737px){
    body {
      height: 100vh;
      background-image: url("/tor-downsized.gif");
      background-color: #ffffff;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
    h1 {
      background-color: white;
      font-size: 3em;
      font-family: sans-serif;
    }
}
