li {
  text-decoration: underline;
}
body {
  background-image: url("/tor-downsized.gif");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  background-color: white;
  font-size: 3em;
  font-family: sans-serif;
}
