@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,900italic,900|Open+Sans:300italic,300,700italic,700);

* {
	margin: 0px;
	padding: 0px;
}

h1 {

}

.tagline {

}

nav {
	background:#eee;
	border: 3px;
	color:black;
}
nav a {
	font-family: 'Open Sans', sans-serif;
	border: 3px;
	margin: 5 5 5 5px;
}

