@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@media only screen and (min-width: 768px) {
	div#wrapper {
	width: 40%;
	margin: auto;
}
}
body {
	background: #DEDEDE;
}

header {
	height: auto;
	overflow: auto;
	border-bottom: 1px black solid;
}
footer {
	height: 15%;
	background: #DEDEDE;
	padding: 1em;
	margin-bottom: 1em;
}
#header-text {
	vertical-align: center;
	background: #DEDEDE;
	display: block;
	width: auto;
	padding: .5em;
}
#logo {
	font-size: 3.5em;
	color: #4B4A4A;
	font-family: Avenir-Book;
	text-align: center;
}
#tagline {
	font-family: Avenir-Book;
	font-size: 1em;
	color: #4B4A4A;
	text-align: center;
}
article {
	/*border: 1px solid black;*/
	padding: 1em;
/*	overflow: scroll;*/
/*	height: 60%;*/
	text-align: center;
	background: #DEDEDE;
}
.date {
	font-family: Avenir-Book;
	/*font-size: 1.3em;*/
	color: #A3A3A3;
	text-decoration: underline;
	margin-bottom: -30px;
    font-size: .98em;
	text-transform: uppercase;
}
.band-container {
	display:block;
	/*background: black;*/
	/*padding:1em;*/
	text-align: center;
	width: 95%;
	margin: 2.8em auto;
	padding-top: .2em;
}
.artist {
	font-family: Avenir-Book;
	color: #4B4A4A;
	/*display:block;
	margin:auto;*/
	font-size: 2.5em;
	padding-bottom: .1em;
}
.venue {
	font-family: Avenir-Book;
	font-size: 1.4em;
	color: #4B4A4A;
}
#send {
	font-family: Avenir-Heavy;
	font-size: 2em;
	color: #4B4A4A;
	text-align: center;
	display: block;
	padding: .4em;
	border: 1px solid black;
}