@import url(https://fonts.googleapis.com/css?family=EB+Garamond);


header {
	height: 20%;
	background: #DEDEDE;
}
footer {
	height: 10%;
	background: black;
	padding: 1em;
}
#logo {
	font-size: 4em;
	color: #000000;
	font-family: Avenir-Book;
	/*width: 50%;*/
	/*display:block;*/
	/*margin: 2% 10%;*/
	text-align: center;
}
#tagline {
	font-family: Avenir-Book;
	font-size: 1em;
	color: #000000;
	text-align: center;
	padding: .4em .7em;
}
article {
	/*border: 1px solid black;*/
	padding: 1em;
	overflow: scroll;
	height: 60%;
	text-align: center;
	background: #DEDEDE;
}
.band-container {
	display:block;
	/*background: black;*/
	/*padding:1em;*/
	text-align: center;
	width: 95%;
	margin: 1em auto;
	padding-top: .2em;
}
.artist {
	font-family: Avenir-Book;
	color: #4B4A4A;
	/*display:block;
	margin:auto;*/
	font-size: 2.5em;
	padding-bottom: .1em;
}
.venue {
	font-family: Avenir-Book;
	font-size: 1.4em;
	color: #4B4A4A;
}
#send {
	font-family: Avenir-Heavy;
	font-size: 4vw;
	color: #FFFFFF;
	text-align: center;
	display: block;
	vertical-align: center;
}