body {
	color: #FFF;
	font-family: Open Sans, Sans;
	font-weight: lighter;
	background: url(../images/santaelena.jpg);
	background-size: cover;
	text-align: center;
	list-style-type: none;
}
h1 {
	font-family: Open Sans, Sans;
	font-weight: lighter;
}
h2 {
	font-weight: lighter;
}
ul {
	text-align: center;
    list-style-type: none;
    padding-left: 0px;
}
#slogan {
	font-style: italic;
}
#headshot {
	border: 10px;
}
#lorem {
	font-size: .8em;
	margin: 0px 299px;
}